/*
** EPITECH PROJECT, 2024
** arcade-shared
** File description:
** export
*/

#include "IGame.hpp"
#include "../types/LibraryType.hpp"

extern "C" {
    shared::types::LibraryType SHARED_LIBRARY_TYPE_GETTER_NAME(void)
    {
        return shared::types::LibraryType::GAME;
    }

    std::shared_ptr<shared::games::IGame> SHARED_GRAPHICS_FACTORY_LOADER_NAME(void)
    {
        return std::make_shared<GameClass>(...)
    }
}
